{% extends 'base.html.twig' %}

{% block title %}
    Administration des événements
{% endblock %}

{% block banner %}
<section class="banner text-center shadow">
    <div class="banner-filter">
        <div class="d-flex justify-content-center align-items-center h-100">
            <h1>Administration des événements</h1>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
    <div class="container my-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <div class="mb-5">
             {% if app.request.get('_route') == 'admin_futur_event_list' %}
            <h2 class="text-center">Les événements à venir</h2>
            <hr>
            <div class="text-end"><a href="{{ path('admin_event_new') }}" role="button" class="btn btn-success"><i class="fa-solid fa-circle-plus pe-2"></i>Ajouter un événement</a></div>
            {{ include('admin/event/_event_table.html.twig', {events: events, gallery: null, passed: false}) }}
            {% else %}
            <h2>Les événements passés</h2>
            {{ include('admin/event/_event_table.html.twig', {events: events, gallery: gallery, passed: true}) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
