.banner {
    width: 100%;
    height: 450px !important;
    background-image: url('../images/banniere.jpg');
    background-size: cover;
    background-position: top;
}

.banner-filter {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
}