.banner {
    width: 100%;
    height: 400px;
    background-image: url('../images/banniere.jpg');
    background-size: cover;
}

.banner-filter {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
}