{% extends 'base.html.twig' %}

{% block title %}
    Éditer les photos de l'événement 
{% endblock %}

{% block banner %}
<section class="banner text-center shadow">
    <div class="banner-filter">
        <div class="d-flex justify-content-center align-items-center h-100">
            <h1>
                {% if gallery.id %}
                Éditer les photos de l'événement "{{ gallery.event.title }}"
                {% else %}
                Créer la gallerie de l'événement "{{ gallery.event.title }}"
                {% endif %}
            </h1>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
    <div class="container my-4">
        {% if gallery.id %}{% set button = 'Éditer les photos' %} {% else %} {% set button = 'Créer la galerie' %}{% endif %}
        {{ include('admin/gallery/_form.html.twig', {form: form, button: button}) }}
    </div>
{% endblock %}
