{% extends 'base.html.twig' %}

{% block title %}Nos membres{% endblock %}

{% block banner %}
<section class="banner text-center shadow">
    <div class="banner-filter">
        <div class="d-flex justify-content-center align-items-center h-100">
            <h1>Les membres du rotary club de Porto Vecchio</h1>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
    <div class="container my-5">
        {{ include('club/_sections.html.twig') }}
        <section class="mb-4">
            <h2>Les membres</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Nom Prénom</th>
                        <th scope="col">Fonction</th>
                        <th scope="col">Adresse email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                    <tr>
                        <th scope="row" class="text-center">{% if member.isHonorary %} <i class="fa-solid fa-award" title="Membre honoraire"></i> {% endif %}</th>
                        <td>{{ member.lastName|upper ~ ' ' ~ member.firstName }}</td>
                        <td></td>
                        <td>{{ member.email }}</td>
                        {# <td>{{ member.firstName|lower| replace({'é':"e", 'è':"e", 'ê':"e", 'ë':"e", 'ï':"i", 'î':"i", 'à':"a", 'â':"a", 'ä':"a", 'ü':"u", 'ù':"u"}) ~ '.' ~ member.lastName|lower| replace({'é':"e", 'è':"e", 'ê':"e", 'ë':"e", 'ï':"i", 'î':"i", 'à':"a", 'â':"a", 'ä':"a", 'ü':"u", 'ù':"u"}) ~ '@rotary-portovecchio.org' }}</td> #}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>

{% endblock %}
